<div class="wrapper row1">
    <header id="header" class="hoc clear">
 
        <div id="logo" class="fl_left">
            <h1><a asp-controller="Home" asp-action="Index">BlogSite</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li>
                    <a class="drop" asp-controller="Blog" asp-action="Index">Bloglar</a>
                    <ul>
                        <li><a asp-controller="Blog" asp-action="LastBlogs">Son Eklenen Bloglar</a></li>
                        <li><a asp-controller="Blog" asp-action="CreateBlog">Bir blog ekle</a></li>
                        <li><a asp-controller="Blog" asp-action="MyBlogs">Bloglarım</a></li>                   
                    </ul>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index" >Kategoriler</a>
                   
                </li>
                <li>
                    <a class="drop" href="#">Kullanıcı</a>
                    <ul>
                        <li><a asp-controller="User" asp-action="Register">Kayıt Ol</a></li>
                        <li><a asp-controller="User" asp-action="Login">Giriş Yap</a></li>
                        <li><a asp-controller="User" asp-action="Logout">Çıkış</a></li>
                    </ul>
                </li>
                <li>
                    <a  asp-controller="Admin" asp-action="Index">Admin Paneli</a>

                </li>
            </ul>
        </nav>
     
    </header>

</div>