<div id="pageintro" class="hoc clear">
 
    <div class="flexslider basicslider">
        <ul class="slides">
            <li>
                <article>
                    <p>Condimentum</p>
                    <h3 class="heading">Ligula at fermentum</h3>
                    <p>Sodales sapien donec porttitor dolor nec elit</p>
                    <footer><a class="btn" href="#">Luctus suscipit in</a></footer>
                </article>
            </li>        
       
        </ul>
    </div>

</div>